@page "/Contato"
<section class="Texto-historia">

    <div class="txt">

        <h1>Meu Contato</h1>

        <h2>Isaac Pietro Teixeira Maia</h2>

        <p>Desenvolvedor de Software / Analista de TI</p>

        <div class="informacoes">

            <p>📧 Email: isaacpietro.contato@gmail.com</p>

            <p>📱 Telefone / WhatsApp: +55 (69) 99346-2264</p>

            <p>
                🌐 Portfólio:
                <a href="https://isaacpietro.dev" target="_blank">
                    isaacpietro.dev
                </a>
            </p>

            <div class="Networking">

                <p>
                    💼 LinkedIn:
                    <a href="https://linkedin.com/in/isaacpietro" target="_blank">
                        linkedin.com/in/isaacpietro
                    </a>
                </p>

                <p>
                    💻 GitHub:
                    <a href="https://github.com/isaacpietro" target="_blank">
                        github.com/isaacpietro
                    </a>
                </p>

            </div>

            <p>📍 Localização: Cruzeiro, Distrito Federal, Brasil</p>

        </div>

    </div>

</section>