@page "/Curriculo"

<h3>Curriculo</h3>


<div class="curriculo">


    <section>

        <h2>Objetivo</h2>

        <p>
            Atuar como Analista de TI, desenvolvendo soluções tecnológicas,
            manutenção de sistemas e aprimoramento de processos.
        </p>

    </section>

    <hr>

    <section>

        <h2>Resumo Profissional</h2>

        <p>
            Profissional da área de Tecnologia da Informação com conhecimentos
            em desenvolvimento web, lógica de programação, banco de dados
            e suporte técnico. Busco constantemente aprender novas tecnologias
            e desenvolver soluções eficientes para diferentes desafios.
        </p>

    </section>

    <hr>

    <section>

        <h2>Formação Acadêmica</h2>

        <p>
            Análise e Desenvolvimento de Sistemas
        </p>

        <p>
            2024 - 2026
        </p>

    </section>

    <hr>

    <section>

        <h2>Experiência Profissional</h2>

        <h3>Empresa EXCELLER</h3>

        <p>Analista de TI - 2024</p>

        <ul>
            <li>Manutenção de sistemas</li>
            <li>Suporte técnico</li>
            <li>Análise de dados</li>
            <li>Criação de relatórios</li>
        </ul>

    </section>

    <hr>

    <section>

        <h2>Habilidades</h2>

        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>C#</li>
            <li>SQL</li>
            <li>Git e GitHub</li>
        </ul>

    </section>

    <hr>

    <section>

        <h2>Cursos e Certificações</h2>

        <ul>
            <li>Curso de HTML e CSS</li>
            <li>Lógica de Programação</li>
            <li>Banco de Dados SQL</li>
            <li>Introdução ao JavaScript</li>
        </ul>

    </section>

    <hr>

    <section>

        <h2>Idiomas</h2>

        <p>Português - Fluente</p>
        <p>Inglês - Básico</p>

    </section>

    <hr>

    <section>

        <h2>Projetos</h2>

        <p>
            Sistema de gerenciamento desenvolvido em HTML, CSS e JavaScript.
        </p>

        <p>
            Página web responsiva para apresentação de portfólio profissional.
        </p>

    </section>

</div>